# Put secrets in ~/.gradle/gradle.properties

# Coordinates / metadata
PUBLISH_GROUP_ID=io.github.seojw0124
PUBLISH_ARTIFACT_ID=wheeltimepicker
PUBLISH_VERSION=0.1.0

POM_NAME=WheelTimePicker
POM_DESCRIPTION=Composable wheel time picker with optional fade and cylinder effects.
POM_URL=https://github.com/seojw0124/compose-wheel-time-picker.git
POM_LICENSE_NAME=The Apache License, Version 2.0
POM_LICENSE_URL=https://www.apache.org/licenses/LICENSE-2.0.txt
POM_DEVELOPER_ID=seojw0124
POM_DEVELOPER_NAME=Seojeong U
POM_DEVELOPER_URL=https://github.com/seojw0124
POM_SCM_URL=https://github.com/seojw0124/compose-wheel-time-picker.git
POM_SCM_CONNECTION=scm:git:git://github.com/seojw0124/compose-wheel-time-picker.git
POM_SCM_DEV_CONNECTION=scm:git:ssh://git@github.com/seojw0124/compose-wheel-time-picker.git

# Sonatype Central user token
mavenCentralUsername=your-user-token-username
mavenCentralPassword=your-user-token-password

# In-memory signing key
# Export command: gpg --export-secret-keys --armor <KEY_ID>
signingInMemoryKey=-----BEGIN PGP PRIVATE KEY BLOCK-----\n...\n-----END PGP PRIVATE KEY BLOCK-----
# Optional when key id cannot be inferred
signingInMemoryKeyId=YOUR_KEY_ID
# If your key has a passphrase
signingInMemoryKeyPassword=your-key-passphrase
